.ba-reviews-slide-section {
  position: relative;
  padding: 200px 15px;
  background: linear-gradient(0deg, rgba(28, 32, 11, 0.6), rgba(28, 32, 11, 0.6)), url('../img/reviews-slider/banner.jpg') center center no-repeat;
  background-size: cover;
  }
.ba-reviews-slider {
  overflow: hidden;
  &__item {
    position: relative;
    margin: 0 auto;
    text-align: center;
    max-width: 700px;
    padding: 0 15px;
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 96px;
      height: 15px;
      margin: 0 auto;
      background: url(../img/product-slider/stars.svg) no-repeat;
    }
  }
  &__text {
    padding-top: 30px;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 4.4px;
  }
  &__author {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 75px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4.8px;
    &:before {
      content: '';
      display: block;
      margin-right: 20px;
      width: 45px;
      height: 2px;
      background-color: #fff;
    }
  }
}
.ba-reviews-slider-arrows{
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  &__item {
    width: 120px;
    height: 100px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0;
  }
}